.blog-container {
	width: 100%;
	transition: background-color 250ms ease-in-out;
}

.blog-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.blog-roll {
	width: 100%;
	display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(240px, 400px));
	padding: 0px 4vmin 8vmin;
	justify-content: center;
	transition: background-color 250ms ease-in-out, transform 150ms ease;
	grid-template-columns: 1fr;
	grid-gap: 40px;

	@media screen and (min-width: 640px) {
		padding-top: 60px;
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (min-width: 992px) {
		padding: 8vmin 8vmin 8vmin;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.blog-card {
		transition: all ease-in-out 0.1s;
		background-color: transparent;

		a {
			text-decoration: none;
		}

		&:first-child {
			.blog-card--image {
				width: 100%;
				grid-column: 1 / span 2;
			}

			@media screen and (min-width: 1001px) {
				grid-column: 1 / span 3;
				min-height: 280px;
				border-top: 0;

				.blog-card--image {
					height: 100%;
				}

				.card-link-wrapper {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					grid-gap: 4vmin;
				}

				h2 {
					font-size: 2rem;
				}
			}
		}

		h2 {
			font-size: 1.8rem;
		}

		&--image {
			width: 100%;
			object-fit: cover;
			border-radius: 3px;
			height: 200px;
		}
	}
}
