$color-blue-0: #265d97; // Main blue color */
$color-blue-1: #d0e0f0;
$color-blue-2: #5986b5;
$color-blue-3: #0a396a;
$color-blue-4: #011326;

$color-purple-0: #3930a2; // Purple color */
$color-purple-1: #d6d4f2;
$color-purple-2: #6b65be;
$color-purple-3: #191272;
$color-purple-4: #050228;

$color-green-0: #1d9a71; // Green color */
$color-green-1: #cef1e6;
$color-green-2: #53b897;
$color-green-3: #026d4a;
$color-green-4: #00271a;

$color-orange-0: #e89c2b; // Orange color */
$color-orange-1: #fff0da;
$color-orange-2: #ffc773;
$color-orange-3: #a36304;
$color-orange-4: #3a2300;

$color-white-0: #f8fffd;

$color-cta: #d95763;
